<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Car</title>
    <link rel="stylesheet" href="/stylesheets/edit.css"> 
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <div class="container">
        <div class="form-group">
        <body>
            <h4>Edit Car</h4>
            <form 
            action="/users/<%= user._id %>/cars/<%= car._id %>?_method=PUT"
            method="POST"
          >
              
                <input class="inputs" type="text" id="make" name="make" value="<%= car.make %>" required placeholder="Make">
                <input class="inputs" type="text" id="model" name="model" value="<%= car.model %>" required placeholder="Model">
                <input class="inputs" type="number" id="year" name="year" value="<%= car.year %>" required placeholder="Year">
                <button class="update" type="submit">Update Car</button>
            </form>
        </body>
    </div>
</div>
</body>
</html>
