
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Cars</title>
  <link rel="stylesheet" href="/stylesheets/cars.css">
</head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="container">
   <div class="form-group">
    <h4>Your Cars</h4>
    <a class="a" href="/users/<%=user._id%>/cars/new">Add an Car</a>
    
    <table class="table">
        <thead>
          <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody>
            <% cars.forEach((car) => { %>
              <tr>
                <td data-th="Make"><%= car.make %></td>
                <td data-th="Model"><%= car.model %></td>
                <td data-th="Year"><%= car.year %></td>
                <td>
                  <button class="delete" href="/cars/edit/<%= car._id %>" class="btn btn-secondary btn-sm">Edit</button>
                  <form action="/cars/delete/<%= car._id %>?_method=DELETE" method="POST" class="d-inline">
                    <button class="delete" type="submit" class="btn btn-danger btn-sm">Delete</button>
                  </form>
                </td>
              </tr>
            <% }) %>
          </tbody>
      </table>
    </div>
    </div>
  </body>
</html>