<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Details</title>
    <link rel="stylesheet" href="/stylesheets/style.css"> 
<body>
    <%- include('../partials/_navbar.ejs') %> 

    <div class="container">
        <h1>Car Details</h1>
        <div class="car-info">
            <p><strong>Make:</strong> <%= car.make %></p>
            <p><strong>Model:</strong> <%= car.model %></p>
            <p><strong>Year:</strong> <%= car.year %></p>
            <p><strong>Created At:</strong> <%= car.createdAt.toDateString() %></p>
        </div>
        
      
        <a href="/cars/<%= car._id %>/edit" class="btn btn-primary">Edit</a>
        <form  action="/users/<%= user._id %>/cars/<%= car._id %>?_method=DELETE" method="POST" style="display:inline;">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <a href="/cars" class="btn btn-secondary">Back to List</a>
    </div>

</body>
</html>